.avatar {
  --avatar-size: var(--size-medium);
  --avatar-background-color: var(--color-background-weak);
  --avatar-border: var(--border);
  --avatar-radius: var(--radius);
  --avatar-badge-size: var(--size-tiny);

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--avatar-background-color);
  border-radius: var(--avatar-radius);
  box-shadow: var(--color-background) 0px 0px 0px 2px;
  box-sizing: border-box;
  position: relative;
}

.avatar[data-size='huge'] {
  --avatar-size: var(--size-huge);
  font-size: var(--font-size-huge);
}
.avatar[data-size='large'] {
  --avatar-size: var(--size-large);
  font-size: var(--font-size-large);
}
.avatar[data-size='medium'] {
  --avatar-badge-size: 8px;
}
.avatar[data-size='small'] {
  --avatar-size: var(--size-small);
}
