.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: var(--border); */
  background: var(--gray100);
  /* color: var(--gray100); */
  box-sizing: border-box;
  border-radius: 50%;
  background-size: cover;
  position: relative;
}

.avatar[data-size='huge'] {
  width: var(--size-huge);
  min-width: var(--size-huge);

  height: var(--size-huge);
}
.avatar[data-size='large'] {
  width: var(--size-large);
  min-width: var(--size-large);

  height: var(--size-large);
}
.avatar[data-size='medium'] {
  min-width: var(--size-medium);
  height: var(--size-medium);
}
.avatar[data-size='small'] {
  min-width: var(--size-small);
  height: var(--size-small);
}

.avatar[data-is-fallback='true'] {
  background: none;
}
