.head {
  margin: 0 0 0.25rem;
  font-size: var(--font-size-small);
  background: var(--gray100);
  text-align: center;
}

.row {
  display: flex;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  position: relative;
}

.row .column {
  display: flex;
  align-items: center;
  position: relative;

  text-transform: capitalize;
}

.column[data-cell='date'] {
  width: 15%;
}

.column[data-cell='item1'] {
  width: 30%;
  position: relative;
}

.column[data-cell='coin'] {
  width: 20%;
  flex-direction: column;
  align-items: flex-end;
}

.column[data-cell='price'] {
  width: 15%;
  flex-direction: column;
  align-items: flex-end;
}

.column[data-cell='status'] {
  width: 10%;
  justify-content: right;
}

/* // 세부 */

.column[data-cell='item1'] span {
  display: block;
  font-size: 12px;
  color: var(--color-text-light);
}

.column[data-cell='price'] .currency,
.column[data-cell='coin'] .currency {
  display: block;
  font-size: 12px;
  color: var(--color-text-light);
}

.head .column[data-cell='item1']:before,
.head .column[data-cell='item1']:after {
  display: none;
}
.column[data-cell='item1']:before {
  content: '';
  display: block;
  width: 35%;
  height: 1px;
  background-color: #666;
  position: absolute;
  right: 0;
  top: 50%;
}
.column[data-cell='item1']:after {
  content: '';
  display: block;
  width: 5px;
  height: 1px;
  /* padding: 3px; */
  background: #666;
  /* border: 1px solid #000;
  border-left: 0;
  border-bottom: 0; */
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 15px;
}

.card {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border: var(--border);
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

.card > div {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0.75rem;
}

.card footer {
  display: flex;
  /* justify-content: space-between; */
}

.card footer div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.column {
  display: flex;
  align-items: center;
  position: relative;
}

.column[data-cell='date'] {
  width: 15%;
}
.column[data-cell='type'] {
  width: 15%;
}

.column[data-cell='item1'] {
  width: 30%;
  position: relative;
}

.column[data-cell='item1'] span {
  display: block;
  font-size: 12px;
  color: var(--color-text-light);
}

.column[data-cell='coin'] {
  width: 20%;
  justify-content: right;
}

.column[data-cell='coin'] span {
  font-size: 12px;
}

.column[data-cell='price'] {
  width: 20%;
  justify-content: right;
}

.column[data-cell='status'] {
  width: 15%;
  justify-content: center;
}

.column:nth-of-type(4) {
  width: 10% !important;
}

@media (max-width: 1000px) {
  /*
  .head {
    display: none;
  }
 */
  /* .column {
    display: flex;
    align-items: center;
  }

  .column[data-cell='date'] {
    width: auto;
  }

  .column[data-cell='item1'] {
    width: auto;
    margin: 0.75rem 0 1.5rem;
  }

  .column[data-cell='coin'] {
    flex-direction: row;
    align-items: flex-start;
  }

  .column[data-cell='coin'] div {
    margin-right: 0.5rem;
  }

  .column[data-cell='type'] {
  }

  .column[data-cell='price'] {
    width: auto;
    justify-content: left;
    position: absolute;
    right: var(--grid-margin);
    bottom: 1rem;
  }

  .column[data-cell='status'] {
    position: absolute;
    right: var(--grid-margin);
    top: 0.75rem;
  } */
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4rem;
}

.header .tablist {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scroll {
  /* min-width: 1024px; */
  border-radius: var(--radius);
  overflow: hidden;
}
